/*****************
/* Autor: Daniel Alberto Alonso
/*CSS encargado de darle formato a los documentos html 
******************/

body{
    color: #000000;
    background-color: #debbff;
    padding-left: 3%;
    padding-right: 3%;
}



header{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#761CCA;
    padding: 1%;
    border-radius: 30%;
   
}

header > h1{
    font-size: 330%;
    color: #ffffff;
    padding-top: 5%;
}

main{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section > h2,aside > h2{
    font-size: 200%;
}

aside{
    padding-top: 10%;
}

section > p{
    font-size: 110%;
}

nav{
    background-color: #781CCE;
    color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 1%;
    padding: 1%;
    
}

nav > a{   
    color: white;    
    text-decoration: none;
    padding: 2%;
}

nav > a:hover{    
    color: #781CCE;
    background-color: #ffffff;
    padding: 2%;
    
}

dt{
    border-bottom: solid;
    padding-top: 1.2%;
    font-size: 130%;
    
}

dd{
    padding-top: 1%;
}

th{
    background-color: #a0daff;

}

table, th, td{
    border: solid;
    border-collapse: collapse;
}

td{
    background-color: #ffffff;
}



video{
    width: 65%;
    height: auto;
    padding: 4%;
    
}

img{
    width: 60%;
    height: auto;
}

audio{
    padding-top: 4%;
    
}

footer{
    color: rgba(0, 0, 0, 0.51);
    padding-top: 12%;
   
}

fieldset{
    padding-top: 1%;
    background-color: #ffffff;
}

article > p > a{
    color: #000000;
    text-decoration: none;
}





