/*****************
/* Autor: Daniel Alberto Alonso
/*CSS encargado de describir la estructura de html que contiene el formulario 
******************/

/*Especificidad: (0,0,1)*/
body{
    display: grid;
    grid: "h h h h h" 
          "n n n n n"
          "m m m m m"
          "m m m m m"
          "m m m m m"
          "m m m m m"
          "f f f f f";
}

/*Especificidad: (0,0,1)*/
main{
    display: grid;
    grid: 
          "s1 s1 s1 s1 s1"
          "fo fo fo fo fo"
          "fo fo fo fo fo"
          "fo fo fo fo fo"
          "fo fo fo fo fo";
    grid-area: m;
}

/*Especificidad: (0,0,1)*/
nav{
    display: grid;
    grid-template-areas: ". . . . ."; 

    grid-area: n;
    
}

/*Especificidad: (0,0,1)*/
header{
    display: grid;
    grid: 
          "i i t t t t"
          "i i t t t t"
          "i i t t t t";
    
    
    grid-area :h
}

/*Especificidad: (0,0,1)*/
section   { 
    display: grid;
    grid: 
          "st st st st st"
          "p p p p p ";
    grid-area: s1;
    padding-top: 1%;  
}

/*Especificidad: (0,0,1)*/
footer   { grid-area: f; /* auto min-width */ }
/*Especificidad: (0,0,1)*/
h1{grid-area: t; }
/*Especificidad: (0,0,1)*/
h2{grid-area: st; }
/*Especificidad: (0,0,1)*/
img{grid-area: i;}
/*Especificidad: (0,0,1)*/
form{grid-area: fo; }
/*Especificidad: (0,0,1)*/
p{grid-area: p; }

