/*****************
/* Autor: Daniel Alberto Alonso
/*CSS encargado de describir la estructura de los html (excepto el formulario) 
******************/

/*Especificidad: (0,0,1)*/
body{
    display: grid;
    grid: "h h h h h" 
          "n n n n n"
          "m m m m m"
          "m m m m m"
          "m m m m m"
          "m m m m m"
          "f f f f f";
}

/*Especificidad: (0,0,1)*/
main{
    display: grid;
    grid: 
          "s1 s1 s1 s1 s1"
          "s1 s1 s1 s1 s1"
          "s2 s2 s2 s2 s2"
          "v v v v v"
          "a a a a a"
          "a a a a a"
          "a a a a a"
          "r r r r r"
          "r r r r r"
          "r r r r r";
    grid-area: m;
}

/*Especificidad: (0,0,1)*/
nav{
    display: grid;
    grid-template-areas: ". . . . ."; 

    grid-area: n;
    
}

/*Especificidad: (0,0,1)*/
header{
    display: grid;
    grid: 
          "i i t t t t"
          "i i t t t t"
          "i i t t t t";
    
    
    grid-area :h
}



/*Especificidad: (0,1,1)*/
section:last-of-type   { grid-area: s2;  padding-top: 4%;    }
/*Especificidad: (0,0,1)*/
aside{grid-area: a;}
/*Especificidad: (0,0,1)*/
footer   { grid-area: f; }
/*Especificidad: (0,0,1)*/
h1{grid-area: t; }
/*Especificidad: (0,0,1)*/
img{grid-area: i;}
/*Especificidad: (0,0,1)*/
article{grid-area: r; padding-top: 5%;}
/*Especificidad: (0,0,1)*/
video{grid-area: v; }



