/*****************
/* Autor: Daniel Alberto Alonso
/*CSS encargado de describir la estructura de los html (excepto el formulario) 
******************/

/*Especificidad: (0,0,1)*/
main{
    display: grid;
    grid:"lb lb lb lb lb" 
         "t1 t1 t1 t1 t1"
          "t1 t1 t1 t1 t1"           
          "l t2 t2 t2 t2"
          "on ce sin cos ta"
          "si o n po e"
          "cu ci s m mr"
          "u d tr p mm"
          "c co ent p mp";

    gap: 2em;
}
        
input{padding: 1em;}

textarea{grid-area: t1; margin-bottom: 2%; resize: vertical;}
input[type="text"]{grid-area: t2; background-color: white; }
label:first-child{grid-area: lb; color: black; background-color: white;}
label:last-child{grid-area: l; color: black;}

input[value="On"]{grid-area: on; }
input[value="CE"]{grid-area: ce;}
input[value="Sin"]{grid-area: sin;}
input[value="Cos"]{grid-area: cos;}
input[value="Tan"]{grid-area: ta;}

input[value="7"]{grid-area: si;}
input[value="8"]{grid-area: o;}
input[value="9"]{grid-area: n;}
input[value="X"]{grid-area: po;}
input[value="/"]{grid-area: e;}

input[value="4"]{grid-area: cu;}
input[value="5"]{grid-area: ci;}
input[value="6"]{grid-area: s;}
input[value="-"]{grid-area: m;}
input[value="Mrc"]{grid-area: mr;}

input[value="1"]{grid-area: u;}
input[value="2"]{grid-area: d;}
input[value="3"]{grid-area: tr;}
input[value="+"]{grid-area: p;}
input[value="M-"]{grid-area: mm;}

input[value="0"]{grid-area: c;}
input[value="."]{grid-area: co;}
input[value="Enter"]{grid-area: ent;}
input[value="M+"]{grid-area: mp;}

input[type = "text"]{
    
    padding-bottom: 5%;
    
}

input[type = "button"]{
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 2%;
}

main{
    background-color: #cfecff;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

