/*****************
/* Autor: Daniel Alberto Alonso
/*CSS encargado de describir la estructura de los html (excepto el formulario) 
******************/


body{
    font-size: 110%;
}

nav > a{
    margin-left: 1%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}


form{
    margin-top: 1.2%;
}

fieldset{
    margin-top: 0.5%;
    margin-bottom: 0.6%;
    
}


label{
    margin-bottom: 0.4%;
}

input[type = "text"]{
    margin-right: 0.85%;
}

input{
    margin-bottom: 0.5%;
}


h2{
    font-size: 100%;
}